.App {
  text-align: center;
  color: #FCFAF1;  
}
#Website_Header
{
  color: #222831;
  background-color: #E6B31E;
  margin-top: 0;
}
#Content
{
  border: solid white 0.1rem;
}
.Content_Child
{
  border: solid white 0.1rem;
}
.Single_Project_Card_Shortened
{
  border: solid #E6B31E 0.1rem;
  width: 40rem;
  margin: auto;
  margin-bottom: 1rem;
}
.Single_Project_Card_Expanded
{
  border: solid #E6B31E 0.1rem;
  width: 40rem;
  margin: auto;
  margin-bottom: 1rem;
  height: 86.95rem; /*adjusted for 400 words and 2 images*/
}
#Single_Project_Header
{
  background-color: #E6B31E;
  color: #222831;
  margin-top: 0rem;
  text-align: left;
  padding-left: 1rem;
  height: min-content;
  font-size: medium;
  margin-bottom: 0rem;
}
.Single_Project_Card_Body_Shortened
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 4rem;
}
.Single_Project_Card_Body_Expanded
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 4rem;
  justify-content: center;
}
.Single_Project_Card_Information_Shortened
{
  display: inline-block;
  height: 100%;
  border: solid white 0.1rem;
  font-size: medium;
  white-space: pre-line;
  word-wrap: break-word;
  text-overflow: clip;
  justify-content: left;
  vertical-align: 50%;
  width: 32rem;
}
.Single_Project_Card_Information_Expanded
{
  margin: auto;
  border: solid white 0.1rem;
  font-size: medium;
  white-space: pre-line;
  word-wrap: break-word;
  width: 100%;
  text-align: left;
}
.Single_Project_Image_Logo
{
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
  flex-shrink: 0;
}
.Single_Project_Image
{
  max-height: 100%;
  max-width: 100%;
  height: 16rem;
  width: 28rem;
  margin-left: 6rem;
}
.Single_Project_Card_Expand_Button
{
  cursor: pointer;
  width: 100%;
  background-color: #E6B31E;
  font-weight: 700;
}
.Single_Project_Card_Collapse_Button
{
  cursor: pointer;
  color: #222831;
  font-size: medium;
  background-color: #E6B31E;
  width: 100%;
  font-weight: 700;
}
#Footer
{
  border: solid white 0.1rem;
}