.App {
  text-align: center;
  color: #DADCDB;
  background-color: #252324;  
}
#Content
{
 display: flex;
 justify-content: center;
 
}
#Website_Header
{
  
}
#About
{
  border: solid white 0.1rem;
}
#Projects
{
  border: solid white 0.1rem;
}
#Single_Project_Card
{
  border: solid white 0.1rem;
}
#Footer
{

}