.App {
  text-align: center;
  color: #FCFAF1;  
}
#Website_Header
{
  color: #222831;
  background-color: #E6B31E;
}
#Content
{
  border: solid white 0.1rem;
}
.Content_Child
{
  border: solid white 0.1rem;
}
.Single_Project_Card
{
  border: solid #E6B31E 0.1rem;
  width: 40rem;
  margin: auto;
}
#Single_Project_Header
{
  background-color: #E6B31E;
  color: #222831;
}
.Single_Project_Image
{
  height: 6rem;
}
#Footer
{
  border: solid white 0.1rem;
}